<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>추천 보험</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngFor="let item of insData"> -->
  <ion-item *ngFor="let item of insData">
    <table>
        <tr>
            <img src="{{item.companyimg}}">
          </tr>
      <tr>
        <ion-label>{{item.insuranceName}}</ion-label>
      </tr>
      <tr>
        <ion-label>{{item.companyName}}</ion-label>
      </tr>
      <tr>
          <ion-label>{{item.pay_month}}</ion-label>

      </tr>
    </table>
    

  </ion-item>

  <!-- </ion-list> -->
</ion-content>