<ion-header>
  <ion-toolbar>
      <ion-title align="center">펫트체크</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="mypage()">
          <ion-icon slot="icon-only" name="md-contact"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
        <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
            <ion-fab-button>
              <ion-icon name="md-create"></ion-icon>
            </ion-fab-button>
          </ion-fab>
  </div>
</ion-content>
