<ion-header>
    <ion-toolbar color = "primary">
        <ion-buttons slot="start">
            <ion-button (click)="ins()">
              <img style = "width: 28px;"src="https://firebasestorage.googleapis.com/v0/b/petcheck-6a816.appspot.com/o/appimg%2Fins.png?alt=media&token=fb5c2624-7221-4fdb-a32d-94f6410206d8"/>
            </ion-button>
          </ion-buttons>
        <ion-title text-center>펫트체크</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="mypage()">
            <ion-icon slot="icon-only" name="md-contact"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid style = "height: 200%">
        <ion-searchbar [(ngModel)]="queryTxt"
        (ionInput)="getItems($event)"
        placeholder="치료비가 궁금한 병명/수술 등">
      </ion-searchbar>
      <div class = "price" id = "avgpri">
        평균 치료비:&nbsp;{{avg}}원 
      </div>
      <div class = "price" id = "maxpri">
        최대:&nbsp;{{max}}원 <div class = "info_i"><ion-icon (click)="movemax()" name="information-circle" style="zoom:2.0;" color ="tertiary"></ion-icon></div>
      </div>
      <div class = "price" id = "minpri">
        최소:&nbsp;{{min}}원 <div class = "info_i"><ion-icon (click)="movemin()" name="information-circle" style="zoom:2.0;" color ="tertiary"></ion-icon></div>
      </div>
      <hr width=100% color = "lightgray">
          <ion-col *ngFor="let item of posts" col-12 no-padding>
          <ion-card>
            <ion-card-content class="fixline" >
              <div>{{item.hos}}</div>
              <div style = "width: 100%; text-align: right;">진단명:&nbsp;{{item.name}}</div>
              <div style = "width: 100%; text-align: right;"><font size = "4">비용:&nbsp;{{item.price}}원</font></div>
            </ion-card-content>
          </ion-card>
          </ion-col>
    </ion-grid>
</ion-content>
