<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>정보 제공 동의</ion-title>
      <ion-buttons slot = "start">
          <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
          <ion-button (click)="clickAlert()">
            <ion-label>저장하기</ion-label>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="dragchkform">
    <ion-list-header>
        <ion-label>이용약관</ion-label>
      </ion-list-header>
      <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="masterCheck" (click)="checkMaster($event)"></ion-checkbox>
        <ion-label>전체동의</ion-label>
      </ion-item>
    <ion-list-header>
        <ion-label>필수 제공 정보</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of items2">
          <ion-label>{{item.name}}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
      <ion-list-header>
        <ion-label>선택 제공 정보</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of items3">
          <ion-label>{{item.name}}{{item.img}}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
  <ion-list-header>
    <ion-label>정보 제공 범위</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of items1">
    <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
    <ion-label>{{item.name}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
