<ion-header>
  <ion-toolbar>
    <ion-title>약관동의</ion-title>
      <ion-buttons slot = "start">
          <ion-back-button text=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list name="dragchkform">
  <ion-list-header>
    <ion-label>제 3자 정보 제공 동의</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of items" (mouseover)="Mouseover(item)">
    <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
    <ion-label>{{item.name}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
