<ion-header>
    <ion-toolbar color = "primary">
        <ion-buttons slot = "start">
            <ion-back-button text="" defaultHref = "home"></ion-back-button>
          </ion-buttons>
    <ion-title>최소 비용 진료 목록</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class = "price" id = "minpri">
        최소 비용 :&nbsp;{{min}}원
    </div>
    <ion-col *ngFor="let item of hos" col-12 no-padding>
        <br><div style="text-align: center; border : 1px solid rgb(206, 34, 34); padding: 2px;"><b>{{item.hos}}</b></div><br>
                <ion-card *ngFor="let uit of item.user">
                    <ion-card-content class="fixline" >
                        환자 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{uit.petname}}<br>
                        성별 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{uit.petsex}}<br>
                        견종 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{uit.petcate}}<br>
                        몸무게 &nbsp;&nbsp;&nbsp;{{uit.petsize}}<br>
                        나이 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{uit.petage}}<br>
                        <div style = "width: 100%; text-align: right;">진료날짜 {{uit.petdate}}</div>
                    </ion-card-content>
                </ion-card>
    </ion-col>
</ion-content>
