.price{
    width: 100%;
    height: 50px;
    //border: 1px solid black;
}

#maxpri, #minpri{
    padding-top : 15px;
    padding-left : 20px;
    margin-bottom : 5px;
    background-color: rgb(236, 236, 236);
}
