<ion-header>
  <ion-toolbar>
    <ion-title>약관동의</ion-title>
      <ion-buttons slot = "start">
          <ion-back-button text=""></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list class="dragchkform">
    <ion-list-header>
        <ion-label>개인정보 수집 및 이용목적</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of items1">
        <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
  <ion-list-header>
    <ion-label>(선택)제 3자 정보 제공 동의</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let item of items2">
    <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
    <ion-label>{{item.name}}</ion-label>
  </ion-item>
  <ion-list-header>
      <ion-label>(선택)마케팅 활용 동의</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of items3">
      <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
</ion-list>
</ion-content>
